node_modules
solar-system.png
.nyc_output
.talismanrc
coverage
test-results.xml
.env


.section-title h2::after {

display: none !important;
}

.section-title h2::before {

display: none !important;
}